@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            background-image: url('https://toigingiuvedep.vn/wp-content/uploads/2021/02/background-may-va-bau-troi-luc-ve-chieu.jpg');
            /*https://gcs.tripi.vn/public-tripi/tripi-feed/img/474103GNh/anh-nen-background-cong-nghe_035953114.jpg*/
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <div class="content">
        <section id="home" class="content-section">
            <div class="image-container">
                <div class="circular-image">
                    <img src="~/images/profile1.jpg" alt="Profile Image">
                </div>
            </div>
        </section>


        <div class="text-container">
            <p class="name">TRƯƠNG QUANG VIÊN</p>
            <p class="position">GIÁM ĐỐC</p>
            <!-- Button with image icon -->
            <div class="button-container">
                <a href="https://sunhitech.vn/" target="_blank" class="service-store-btn">
                    <img src="~/images/icon-store.png" alt="Store Icon" class="icon-store">
                    CỬA HÀNG - DỊCH VỤ
                </a>
            </div>


            <div class="buttons-container">
                <button class="icon-button" id="phoneButton">
                    <img src="~/images/icon-phone.png" alt="Phone Icon" class="button-icon">
                    ĐIỆN THOẠI
                </button>
                <button class="icon-button">
                    <img src="~/images/icon-save.png" alt="Save Icon" class="button-icon">
                    LƯU DANH BẠ
                </button>
                <button class="icon-button">
                    <img src="~/images/icon-message.png" alt="Message Icon" class="button-icon">
                    NHẮN TIN
                </button>
            </div>
            <script>
                document.getElementById('phoneButton').onclick = function () {
                    window.location.href = 'tel:+84902577763';
                };
            </script>

            <div class="button-row2">
                <a href="tel:+84902577763"><button class="secondary-button2"><img src="~/images/phone-icon.png" alt="Phone"> GỌI CHO QUANG VIÊN</button></a>
            </div>
            <div class="button-row2">
                <a href="https://zalo.me/0937963779" target="_blank"><button class="secondary-button2"><img src="~/images/zalo-icon.png" alt="Zalo"> ZALO CỦA QUANG VIÊN</button></a>
            </div>
            <div class="button-row2">
                <a href="mailto:info@sunhitech.vn [undefined:info@sunhitech.vn]"><button class="secondary-button2"><img src="~/images/email-icon.png" alt="Email"> MAIL CỦA QUANG VIÊN</button></a>
            </div>
            <div class="button-row2">
                <a href="https://www.facebook.com/sunhitech" target="_blank"><button class="secondary-button2"><img src="~/images/facebook-icon.png" alt="Facebook"> FACEBOOK CỦA QUANG VIÊN</button></a>
            </div>


            <div class="info-container2">
                <div class="info-row2">
                    <div class="icon-container2">
                        <img src="~/images/birthday-icon.png" alt="Birthday">
                    </div>
                    <div class="text-container2">
                        <span>30/03/2002</span>
                    </div>
                </div>
                <div class="info-row2">
                    <div class="icon-container2">
                        <img src="~/images/address-icon.png" alt="Address">
                    </div>
                    <div class="text-container2">
                        <span>Địa chỉ: 123 Đường ABC, Thành phố XYZ</span>
                    </div>
                </div>
                <div class="info-row2">
                    <div class="icon-container2">
                        <img src="~/images/youtube-icon.png" alt="YouTube">
                    </div>
                    <div class="text-container2">
                        <span><a href="https://www.youtube.com/watch?v=_BxhqA5XD7Q">Kênh YouTube của QUANG VIÊN</a></span>
                    </div>
                </div>
            </div>


            <section id="banking" class="content-section">
                <div class="bank-account-container">
                    <h3 class="bank-account-title">Tài khoản ngân hàng</h3>
                    <div class="info-row">
                        <div class="bank-icon">
                            <img src="~/images/bank-icon.png" alt="Bank 1">
                        </div>
                        <div class="account-number">
                            <span>Số tài khoản: 123456789</span>
                        </div>
                        <div class="account-holder">
                            <span>Chủ tài khoản: TRƯƠNG QUANG VIÊN</span>
                        </div>
                        <div class="copy-icon">
                            <img src="~/images/copy-icon.png" alt="Copy" data-account="123456789" class="copyable">
                        </div>
                    </div>
                    <div class="info-row">
                        <div class="bank-icon">
                            <img src="~/images/bank1-icon.png" alt="Bank 2">
                        </div>
                        <div class="account-number">
                            <span>Số tài khoản: 987654321</span>
                        </div>
                        <div class="account-holder">
                            <span>Chủ tài khoản: TRƯƠNG QUANG VIÊN</span>
                        </div>
                        <div class="copy-icon">
                            <img src="~/images/copy-icon.png" alt="Copy" data-account="987654321" class="copyable">
                        </div>
                    </div>
                </div>
            </section>

            <section id="experience" class="content-section">
                <!-- Khung kinh nghiệm làm việc -->
                <div class="experience-container">
                    <h3 class="experience-title">Kinh nghiệm làm việc</h3>
                    <div class="experience-item">
                        <img src="~/images/logo.png" alt="Company Icon" class="company-icon">
                        <div class="experience-info">
                            <span class="experience-time">01/2020 - 12/2020</span>
                            <span class="experience-position">Chức vụ: Nhân viên</span>
                            <span class="experience-company">Công ty: ABC Corp</span>
                        </div>
                    </div>
                    <div class="experience-item">
                        <img src="~/images/logo1.png" alt="Company Icon" class="company-icon">
                        <div class="experience-info">
                            <span class="experience-time">01/2021 - 12/2022</span>
                            <span class="experience-position">Chức vụ: Trưởng phòng</span>
                            <span class="experience-company">Công ty: XYZ Ltd</span>
                        </div>
                    </div>
                    <div class="experience-item">
                        <img src="~/images/logo2.png" alt="Company Icon" class="company-icon">
                        <div class="experience-info">
                            <span class="experience-time">01/2021 - 12/2022</span>
                            <span class="experience-position">Chức vụ: Giám đốc</span>
                            <span class="experience-company">Công ty: XYZ Ltd</span>
                        </div>
                    </div>
                </div>
            </section>

            <section id="profile" class="content-section">
                <!-- Khung Hồ sơ của tôi -->
                <div class="profile-container">
                    <h3 class="profile-title">Hồ sơ của tôi</h3>
                    <div class="profile-row">
                        <div class="profile-section">
                            <div class="profile-header">
                                <img src="~/images/icon-check-circle.png" alt="Check Circle Icon" class="profile-icon">
                                <h4 class="profile-section-title">Giới thiệu công việc</h4>
                            </div>
                            <p class="profile-section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet semper risus. Ut convallis nulla vel ligula rutrum, eget sodales nulla faucibus.</p>
                        </div>
                        <div class="profile-section">
                            <div class="profile-header">
                                <img src="~/images/icon-check-circle.png" alt="Check Circle Icon" class="profile-icon">
                                <h4 class="profile-section-title">Thói quen, sở thích</h4>
                            </div>
                            <p class="profile-section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet semper risus. Ut convallis nulla vel ligula rutrum, eget sodales nulla faucibus.</p>
                        </div>
                    </div>
                    <div class="profile-row">
                        <div class="profile-section">
                            <div class="profile-header">
                                <img src="~/images/icon-check-circle.png" alt="Check Circle Icon" class="profile-icon">
                                <h4 class="profile-section-title">Bí mật bản thân</h4>
                            </div>
                            <p class="profile-section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet semper risus. Ut convallis nulla vel ligula rutrum, eget sodales nulla faucibus.</p>
                        </div>
                        <div class="profile-section">
                            <div class="profile-header">
                                <img src="~/images/icon-check-circle.png" alt="Check Circle Icon" class="profile-icon">
                                <h4 class="profile-section-title">Khát khao cháy bỏng</h4>
                            </div>
                            <p class="profile-section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet semper risus. Ut convallis nulla vel ligula rutrum, eget sodales nulla faucibus.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="business" class="content-section">
                <div class="company-info-container">
                    <h3 class="company-title">Giới thiệu doanh nghiệp</h3>
                    <div class="company-details">
                        <div class="company-image">
                            <img src="~/images/logo1.png" alt="Company Image">
                        </div>
                        <div class="company-description">
                            <p>Mô tả công ty ở đây</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="achievements" class="content-section">
                <div class="goal-achievement-container">
                    <h3 class="title">Mục tiêu - Thành tựu - Mối quan hệ - Kĩ năng</h3>
                    <div class="goal-section">
                        <div class="goal-box">
                            <div class="goal-header">
                                <img src="~/images/goal-icon.png" alt="Goal Icon" class="goal-icon">
                                <h4 class="goal-title">Mục tiêu</h4>
                            </div>

                        </div>
                        <div class="goal-box">
                            <div class="goal-header">
                                <img src="~/images/achievement-icon.png" alt="Achievement Icon" class="goal-icon">
                                <h4 class="goal-title">Thành tựu</h4>
                            </div>

                        </div>
                    </div>
                    <div class="goal-section">
                        <div class="goal-box">
                            <div class="goal-header">
                                <img src="~/images/relationship-icon.png" alt="Relationship Icon" class="goal-icon">
                                <h4 class="goal-title">Mối quan hệ</h4>
                            </div>

                        </div>
                        <div class="goal-box">
                            <div class="goal-header">
                                <img src="~/images/skill-icon.png" alt="Skill Icon" class="goal-icon">
                                <h4 class="goal-title">Kĩ năng</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section id="quotes" class="content-section">
                <div class="company-info-container1">
                    <h3 class="company-title1">PHƯƠNG CHÂM SỐNG CỦA QUANG VIÊN</h3>
                    <div class="company-details1">
                        <div class="company-image1">
                            <img src="~/images/profile1.jpg" alt="Company Image">
                        </div>
                        <div class="company-description1">
                            <p>SỐNG VÀ LÀM VIỆC THEO TẤM GƯƠNG ĐẠO ĐỨC HỒ CHÍ MINH</p>
                        </div>
                    </div>
                </div>
        </div>
        </section>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var copyableElements = document.querySelectorAll(".copyable");

                copyableElements.forEach(function (element) {
                    element.addEventListener("click", function () {
                        var accountNumber = this.getAttribute("data-account");
                        navigator.clipboard.writeText(accountNumber).then(function () {
                            alert("Đã copy số tài khoản: " + accountNumber);
                        }).catch(function (error) {
                            console.error("Copy failed", error);
                        });
                    });
                });
            });
        </script>

        <script>
            document.querySelectorAll('.header-buttons a').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    const targetId = this.getAttribute('href').split('#')[1];
                    const targetElement = document.getElementById(targetId);
                    const headerHeight = document.querySelector('.header-container').offsetHeight;

                    if (targetElement) {
                        window.scrollTo({
                            top: targetElement.offsetTop - headerHeight,
                            behavior: 'smooth'
                        });
                    }
                });
            });
        </script>



</body>
</html>



    <style>
        .image-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .circular-image {
            width: 250px; /* Kích thước của hình tròn */
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
        }

            .circular-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .text-container {
            text-align: center;
            margin-top: 10px;
        }

        .name {
            font-size: 1.5em;
            font-weight: bold;
        }

        .position {
            font-size: 1.2em;
            color: black;
        }

        /* Định dạng button "CỬA HÀNG - DỊCH VỤ" */
        .service-store-btn {
            display: flex;
            align-items: center; /* Căn giữa icon và văn bản theo chiều dọc */
            justify-content: center; /* Căn giữa nội dung theo chiều ngang */
            padding: 15px 20px; /* Tăng padding để button lớn hơn */
            border: none; /* Không có viền */
            border-radius: 25px; /* Bo tròn góc */
            background-color: white; /* Màu nền của button */
            color: black; /* Màu văn bản của button */
            font-size: 1em; /* Kích thước chữ */
            cursor: pointer; /* Con trỏ chuột khi hover */
            width: 490px; /* Chiều dài cụ thể */
            text-align: center; /* Căn giữa văn bản */
            margin: 20px auto; /* Căn giữa button theo chiều ngang */
            text-decoration: none; /* Loại bỏ gạch chân */
        }

        /* Định dạng icon "CỬA HÀNG - DỊCH VỤ" */
        .icon-store {
            width: 30px; /* Chiều rộng của icon */
            height: 30px; /* Chiều cao của icon */
            margin-right: 10px; /* Khoảng cách giữa icon và văn bản */
        }

        /* Định dạng container chứa các button */
        .buttons-container {
            display: flex;
            justify-content: center; /* Căn giữa các button theo chiều ngang */
            gap: 20px; /* Khoảng cách giữa các button */
            margin-top: 20px; /* Tùy chọn: Tạo khoảng cách phía trên các button */
        }

        /* Định dạng các button */
        .icon-button {
            display: flex;
            flex-direction: column; /* Xếp icon và văn bản theo chiều dọc */
            align-items: center; /* Căn giữa icon và văn bản theo chiều ngang */
            padding: 15px 20px; /* Tăng padding để button lớn hơn */
            border: none; /* Không có viền */
            border-radius: 25px; /* Bo tròn góc */
            background-color: white; /* Màu nền của button */
            color: black; /* Màu văn bản của button */
            font-size: 1em; /* Kích thước chữ */
            cursor: pointer; /* Con trỏ chuột khi hover */
            width: 150px; /* Chiều rộng cố định cho button */
            text-align: center; /* Căn giữa văn bản */
        }

        /* Định dạng icon của các button */
        .button-icon {
            width: 30px; /* Chiều rộng của icon */
            height: 30px; /* Chiều cao của icon */
            margin-bottom: 5px; /* Khoảng cách giữa icon và văn bản */
        }




        .secondary-button2 {
            display: flex;
            align-items: center;
            justify-content: center; /* Căn giữa toàn bộ nội dung */
            margin: 20px 15px 0;
            padding: 10px 20px;
            width: 490px;
            font-size: 1em;
            font-weight: bold;
            color: black; /* Đổi màu chữ thành màu đen */
            background-color: white; /* Đổi nền thành màu trắng */
            border: 2px solid #ddd; /* Thêm viền */
            border-radius: 30px; /* Làm viền mềm mại hơn */
            cursor: pointer;
            text-transform: uppercase;
            text-decoration: none;
            outline: none;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Thêm hiệu ứng bóng đổ nhẹ */
            position: relative; /* Để sử dụng cho căn giữa nội dung */
        }

            .secondary-button2 img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                position: absolute;
                left: 10px; /* Đặt icon ở góc trái */
            }

            .secondary-button2 span {
                flex: 1; /* Để phần văn bản chiếm hết không gian còn lại */
                text-align: center; /* Căn giữa văn bản */
            }

            .secondary-button2:hover {
                background-color: #f0f0f0;
            }

        .button-row2 a {
            display: inline-block;
            text-decoration: none;
        }



        .info-container2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 446px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .info-row2 {
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
        }

        .icon-container2 {
            width: 30px; /* Đảm bảo icon luôn có kích thước cố định */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }

            .icon-container2 img {
                width: 24px;
                height: 24px;
            }

        .text-container2 {
            flex: 1;
            display: flex;
            align-items: center;
        }

            .text-container2 span, .text-container2 a {
                font-size: 1em;
            }


        .bank-account-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 75%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .bank-account-title {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        }

        .bank-icon, .account-number, .account-holder, .copy-icon {
            flex: 1;
            text-align: center;
        }

            .bank-icon img{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .copy-icon img {
                width: 37px;
                height: 24px;
                cursor: pointer;
            }

            .account-number span, .account-holder span {
                font-size: 1em;
            }

            .copy-icon img:hover {
                filter: brightness(0.8);
            }


        /* CSS cho mục kinh nghiệm làm việc */
        .experience-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 75%; /* Chiếm 3/4 màn hình */
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .experience-title {
            font-size: 1.5em; /* Kích thước chữ tiêu đề */
            font-weight: bold; /* Chữ đậm */
            margin-bottom: 15px; /* Khoảng cách dưới */
        }

        .experience-item {
            display: flex; /* Hiển thị các mục kinh nghiệm làm việc theo chiều ngang */
            align-items: center; /* Căn giữa theo chiều dọc */
            margin-bottom: 20px; /* Khoảng cách dưới giữa các mục */
        }

        .company-icon {
            width: 30px; /* Kích thước của icon công ty */
            height: auto;
            margin-right: 10px; /* Khoảng cách phải giữa icon và nội dung */
        }

        .experience-info {
            flex: 1; /* Chia sẻ đều không gian trống */
        }

        .experience-time, .experience-position, .experience-company {
            font-size: 1em; /* Kích thước chữ */
            margin-bottom: 5px;
        }
        /* CSS cho khung Hồ sơ của tôi */
        .profile-container {
            width: 75%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .profile-title {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: left;
        }

        .profile-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .profile-section {
            width: 45%;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
        }

        .profile-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .profile-icon {
            width: 32px; /* Tăng kích thước icon */
            height: 32px; /* Tăng kích thước icon */
            margin-right: 10px; /* Khoảng cách giữa icon và tiêu đề */
        }

        .profile-section-title {
            font-size: 1.2em;
            font-weight: bold;
        }

        .profile-section-content {
            font-size: 1em;
            margin: 0;
            padding-left: 42px; /* Tạo khoảng cách giữa nội dung và icon/tiêu đề */
        }



        .company-info-container {
            width: 75%; /* Chiếm 3/4 màn hình */
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: white;
        }

        .company-title {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: left; /* Căn trái tiêu đề */
        }

        .company-details {
            display: flex;
        }

        .company-image {
            width: 50%; /* Chiếm 1 nửa khung hình bên trái */
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .company-image img {
                max-width: 50%;
                height: auto;
                border-radius: 5px;
            }

        .company-description {
            width: 50%; /* Chiếm 1 nửa khung hình bên phải */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center; /* Căn giữa dòng */
            padding-left: 20px;
        }

            .company-description p {
                font-size: 1.5em; /* Kích thước chữ phù hợp */
                margin: 0; /* Xóa bỏ margin mặc định của thẻ p */
            }


        .goal-achievement-container {
            width: 75%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .title {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: left;
        }

        .goal-section {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .goal-box {
            width: 45%;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #fff;
        }

        .goal-header {
            display: flex;
            align-items: center; /* Căn các phần tử trong hàng dọc theo đỉnh của nhau */
            margin-bottom: 10px;
        }

        .goal-icon {
            flex: 3;
            width: 100%; /* Tăng kích thước icon */
            height: auto; /* Duy trì tỉ lệ icon */
        }

        .goal-title {
            flex: 7;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0; /* Xóa margin */
        }




        .company-info-container1 {
            width: 75%; /* Chiếm 3/4 màn hình */
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 25px;
            background-color: #f8f9fa;
        }

        .company-title1 {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: left; /* Căn trái tiêu đề */
        }

        .company-details1 {
            display: flex;
        }

        .company-image1 {
            width: 50%; /* Chiếm 1 nửa khung hình bên trái */
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .company-image1 img {
                max-width: 50%;
                height: auto;
                border-radius: 25px;
            }
        .content-section {
            padding: 20px;
            margin: 10px 0;
            
        }

            .content-section::before {
                content: "";
                display: block;
                
                
            }
    </style>
